.guifierTextField {
    padding: 7.5px 15px;
    border-radius: var(--primary-border-radius);
    border: var(--primary-border);
    outline: 3px solid transparent;
    transition: 150ms;
    width: 100%;
    height: 45px;
    font-size: medium;
}

.guifierTextField:focus {
    border: 2px solid var(--primary-color);
    outline: 3px solid var(--second-color);
}

.guifierTextFieldMultiline {
    min-height: 45px;
    height: auto;
    resize: vertical;
    line-height: 1.4;
    overflow-y: auto;
}
