.guifierTextField {
    padding: 7.5px 15px;
    border-radius: 10px;
    border: var(--primary-border);
    outline: 3px solid transparent;
    transition: 150ms;
    width: 100%;
    height: 45px;
    font-size: medium;
}

.guifierTextField:focus {
    border: 2px solid var(--primary-color);
    outline: 3px solid var(--primary-lighter-color);
}
