.guifierObjectContainerbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--primary-grid-gap);
    padding: var(--primary-padding);
}

.guifierObjectLabelContainer {
    display: flex;
}

.guifierObjectFieldContainer {
    position: relative;
}

.guifierObjectLabelTextPart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    transition: 300ms;
    transform-origin: left bottom;
    transform: translateY(0px);
    font-weight: bold;
}

.guifierDescriptionSymbol {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: var(--second-border);
    width: 20px;
    height: 20px;
    font-size: small;
    font-weight: bolder;
    color: var(--second-color);
    cursor: pointer;
}

.guifierDescriptionTooltip {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 100%;
    border-radius: var(--primary-border-radius);
    border: var(--primary-border);
    background-color: white;
    padding: var(--second-padding);
    opacity: 0;
    height: fit-content;
    z-index: 1;
    transition: 250ms;
    pointer-events: none;
    color: var(--third-color);
}

.descriptionTooltipRefrence {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.guifierObjectFieldContainer:hover > .guifierDescriptionTooltip {
    opacity: 1;
}

.guifierObjectFieldContainer:hover > .guifierObjectLabelContainer > .guifierObjectLabelTextPart {
    transform: translateY(-7px);
}

.guifierObjectLabelButtonsPart {
    position: relative;
}

.fieldButtons {
    position: absolute;
    display: flex;
    z-index: 1;
    gap: 5px;
    bottom: 0px;
    left: 0;
    padding-bottom: 3px;
    padding-left: 10px;
    pointer-events: none;
}

.fieldButtons > * {
    color: var(--third-color);
    border: var(--second-border);
    /* background-color: white; */
    padding: 5px;
    border-radius: 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    opacity: 0.0;
    transform: translateY(75%);
    transition: 0.2s ease;
    cursor: pointer;
    font-size: large;
}