.guifyContainer {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
}

.guifyContainerHeader {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    color: var(--primary-text-color);
    padding: var(--header-horizontal-padding) var(--primary-grid-gap);
}

.guifyContainerHeaderButtons {
    display: flex;
    align-items: center;
    font-size: xx-large;
    gap: 10px;
}

.guifyContainerHeaderButtons > * {
    font-size: 25px;
    cursor: pointer;
}
