.guifierCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.guifierCard {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
    padding: 15px;
    height: 75px;
    cursor: pointer;
    transition: 150ms;
    outline: 3px solid transparent;
}

.guifierCard:hover {
    border-color: grey;
}

.cardIconElement .material-icons-outlined {
    font-size: 40px !important;
    color: rgba(0, 0, 0, 0.75);
}

.guifierSelectedCard {
    border-color: var(--primary-color) !important;
    outline: 3px solid var(--primary-lighter-color);
}

.cardTextElement {
    margin-top: 10px;
}