.guifyCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.guifyCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
    padding: 15px;
    height: 75px;
    cursor: pointer;
    transition: 150ms;
    outline: 3px solid transparent;
}

.guifyCard:hover {
    border-color: grey;
}

.guifySelectedCard {
    border-color: var(--primary-color) !important;
    outline: 3px solid var(--primary-lighter-color);
}
