.guifyArrayContainerbody {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
}

.guifyArrayFieldContainer {
    display: flex;
    align-items: center;
    transition: 0.15s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    padding-right: var(--primary-padding);
    opacity: 1;
}

.guifyArrayfieldInnerContainer {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 45px;
    margin-bottom: var(--secondary-padding);
    margin-top: var(--secondary-padding);
}

.guifyArrayCollapsibleElement {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    height: 100%;
    color: var(--primary-text-color);
}

.guifyFieldLabelName {
    font-size: larger;
}

.guifyArrayLabelContainer {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    padding-right: var(--primary-border-width);
}

.guifyArrayLabelContainerForUpperLevel {
    transform: none;
    width: 70px;
}

.guifyArrayLabelLineForUpperLevel {
    position: absolute;
    width: 50%;
    transform: translateX(-50%);
    border-bottom: var(--primary-border-width) dashed var(--primary-border-color);
    margin-left: 6px;
}

.guifyArrayIndexLabel {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: white;
    border: var(--primary-border);
    border-radius: 100%;
    color: grey;
    background-color: var(--primary-bg-color);
    font-weight: bold;
}

.guifyArrayMainContainerbody {
    display: flex;
}

.guifyArrayLevelsContainer {
    display: flex;
    height: 100%;
}

.guifyArrayLevelElement {
    width: 35px;
    height: 100%;
    background-color: transparent;
    border-right: var(--primary-border-width) dashed var(--primary-border-color);
}

.guifyArrayLevelElement:first-of-type {
    width: 35px;
    height: 100%;
    background-color: transparent;
    border-right: var(--primary-border-width) dashed var(--primary-border-color);
}

.guifyCollapsibleElementContent {
    display: flex;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.guifyCollapsibleElementInnerContentContainer {
    padding: 20px;
    padding-left: 35px;
    /* padding-top: 0; */
}

/* the delete button for the fields */
.guifyArrayFieldDeleteButton {
    color: var(--primary-text-color);
    width: 0px;
    padding-left: 0px;
    transition: 300ms;
    opacity: 0;
    cursor: pointer;
}

.guifyArrayFieldContainer:hover .guifyArrayFieldDeleteButton {
    padding-left: var(--secondary-padding);
    width: 34px;
    opacity: 1;
}
