.guifierDialogBackgroundContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: 150ms;
    opacity: 1;
    backdrop-filter: blur(2px);
    border-radius: var(--container-border-radius);
}

.guifierDialogContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 550px;
    background-color: white;
    box-shadow: rgb(255, 255, 255) 0px 0px 100px;
    border: var(--primary-border);
    border-radius: var(--container-border-radius);
}

.guifierDialogContainerTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-bottom: var(--primary-border);
    padding: 15px;
    gap: 5px;
}

.guifierDialogContainerBody {
    overflow: auto;
    flex: 1;
}

.guifierDialogFooter {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 15px;
    border-top: var(--primary-border);
}

.guifierDialogButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12.5px 35px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.guifierDialogCancelButton {
    border: var(--primary-border);
    background-color: var(--fourth-color);
    color: var(--third-color);
}

.guifierDialogCancelButton:hover {
    background-color: #eeeff3;
}

.guifierDialogConfirmButton {
    background-color: var(--primary-color);
    color: white;
}

.guifierDialogConfirmButton:hover {
    background-color: #366fff;
}
