.guifyArrayContainer {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
}

.guifyArrayContainerbody {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow: hidden;
}

.guifyArrayContainerHeader {
    position: relative;
    z-index: 1;
    font-size: larger;
    color: var(--primary-text-color);
    padding: var(--header-horizontal-padding) var(--primary-grid-gap);
    border-bottom: var(--primary-border);
    border-radius: 7.5px 7.5px 0 0;
}

.guifyArrayFieldContainer {
    display: flex;
    align-items: center;
    height: 45px;
    margin-right: var(--primary-padding);
    margin-bottom: var(--secondary-padding);
    margin-top: var(--secondary-padding);
}

.guifyArrayFieldContainer:first-of-type {
    margin-top: var(--primary-padding);
}

.guifyArrayFieldContainer:last-of-type {
    margin-bottom: var(--primary-padding);
}

.guifyArrayfieldInnerContainer {
    flex: 1;
    height: 45px;
}

.guifyArrayCollapsibleElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.guifyArrayLabelContainer {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    padding-right: var(--primary-border-width);
}

.guifyArrayLabelContainerForUpperLevel {
    transform: none;
    width: 70px;
}

.guifyArrayLabelLineForUpperLevel {
    position: absolute;
    height: 2px;
    width: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-border-color);
}

.guifyArrayIndexLabel {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: white;
    border: var(--primary-border);
    border-radius: 100%;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

.guifyArrayMainContainerbody {
    display: flex;
    overflow: hidden;
}

.guifyArrayLevelsContainer {
    display: flex;
    height: 100%;
    transform: scaleY(2.2);
}

.guifyArrayLevelElement {
    width: 35px;
    height: 100%;
    background-color: transparent;
    border-right: var(--primary-border-width) dashed var(--primary-border-color);
}

.guifyArrayLevelElement:first-of-type {
    width: 35px;
    height: 100%;
    background-color: transparent;
    border-right: var(--primary-border-width) dashed #cdd0deb0;
}

.guifyArrayLevelElement:last-of-type {
    border-right: var(--primary-border);
}

.guifyCollapsibleElementContent {
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-top: var(--primary-border);
    border-bottom: var(--primary-border);
    margin-bottom: 10px;
}

.guifyCollapsibleElementInnerContentContainer {
    padding: 20px;
    padding-left: 30px;
}
