.guifierMainWrapper {
    position: relative;
    height: 100%;
}

.guifierContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
}

.guifierContainerHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    color: var(--third-color);
    padding: var(--header-horizontal-padding) var(--primary-grid-gap);
    padding-right: 15px;
}

.guifierContainerHeader .guifierDescriptionTooltip {
    width: 95%;
}

.guifierContainerHeader:hover .guifierDescriptionTooltip {
    opacity: 1;
}

.guifierContainerHeaderButtons {
    display: flex;
    align-items: center;
    font-size: xx-large;
    gap: 10px;
}

.guifierContainerHeaderButtons > * {
    font-size: 25px;
    cursor: pointer;
    opacity: 0.0;
    transform: translateY(75%);
    transition: 0.2s ease;
}

.guifierContainerCollapseButton {
    opacity: 1;
    transform: translateY(0);
}

.guifierContainerHeaderKeyName {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

/* empty content for empty containers css rules */
.guifierEmptyContentContianer {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
    height: 175px;
}

.emptyContentContianerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px var(--primary-padding);
    grid-column: span 2;
}

.guifierArrayContainerbody .emptyContentContianerWrapper {
    padding: var(--primary-padding);
}

.guifierEmptyTitle {
    margin: 0;
    color: var(--third-color);
    font-size: large;
}

.guifierEmptyParagraph {
    text-align: center;
    max-width: 375px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: medium;
}

.guifierEmptyButton {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-color);
    padding: 5px 10px;
    padding-left: 19px;
    border-radius: var(--primary-border-radius);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: small;
    margin-top: 15px;
}

.guifierEmptyButton:hover {
    background-color: #1d5dffec;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
        linear-gradient(var(--primary-color), var(--primary-color));
}
