.guifyObjectContainer {
    grid-column: span 2;
    background-color: var(--primary-bg-color);
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
}

.guifyObjectContainerbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--primary-grid-gap);
    padding: var(--primary-padding);
}

.guifyObjectContainerHeader {
    font-size: larger;
    color: var(--primary-text-color);
    padding: var(--header-horizontal-padding) var(--primary-grid-gap);
    border-bottom: var(--primary-border);
}
