/* global variables */
:root {
    --primary-color: #1D5EFF;
    --primary-lighter-color: #B7C7F2;
    --primary-text-color: #888E9D;
    --primary-bg-color: #F5F7FB;
    --secondary-bg-color: #FFFFFF;
    --primary-padding: 20px;
    --primary-grid-gap: 20px;
    --header-horizontal-padding: 15px;
    --primary-border-color: #CDD0DE;
    --primary-border: 2px solid var(--primary-border-color);
    --primary-border-radius: 7.5px;
    --primary-selected-border: 2px solid #1D5EFF;
}

/* global classes */
.guifyFullHeight {
    height: 100%;
}

.guifyPrimaryBgColor {
    background-color: var(--primary-bg-color);
}

.guifySecondaryBgColor {
    background-color: var(--secondary-bg-color);
}
