.guifierArrayContainerbody {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
}

.guifierArrayFieldContainer {
    display: flex;
    align-items: stretch;
    transition: 0.15s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    padding-right: var(--primary-padding);
    opacity: 1;
    height: 100%;
}

.guifierArrayfieldInnerContainer {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    margin-bottom: var(--second-padding);
    margin-top: var(--second-padding);
}

.guifierArrayCollapsibleElement {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    height: 100%;
    color: var(--third-color);
}

.guifierFieldLabelName {
    display: flex;
    align-items: center;
    font-size: larger;
    height: 45px;
}

.guifierArrayLabelContainer {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(-50%);
    padding-right: var(--primary-border-width);
}

.guifierArrayLabelContainerForUpperLevel {
    transform: none;
    width: 70px;
}

.guifierArrayLabelLineForUpperLevel {
    position: absolute;
    width: 50%;
    transform: translateX(-50%);
    border-bottom: var(--primary-dashed-border);
    margin-left: 6px;
    margin-top: calc(var(--primary-padding) + 12.5px);
}

.guifierArrayIndexLabel {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    margin-top: 15px;
    background-color: white;
    border: var(--primary-border);
    border-radius: 100%;
    color: var(--third-color);
    background-color: var(--fourth-color);
    font-weight: bold;
}

.guifierArrayMainContainerbody {
    display: flex;
}

.guifierArrayLevelsContainer {
    display: flex;
    height: 100%;
}

.guifierArrayLevelElement {
    width: 35px;
    height: 100%;
    background-color: transparent;
    border-right: var(--primary-dashed-border);
}

.guifierArrayLevelElement:first-of-type {
    width: 35px;
    height: 100%;
    background-color: transparent;
    border-right: var(--primary-dashed-border);
}

.guifierCollapsibleElementContent {
    display: flex;
    position: relative;
    z-index: 1;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.guifierCollapsibleElementInnerContentContainer {
    padding: 20px;
    padding-left: 35px;
    flex: 1;
}

/* the delete button for the fields */
.guifierArrayFieldDeleteButton {
    display: flex;
    align-items: flex-start;
    color: var(--third-color);
    width: 0px;
    padding-left: 0px;
    transition: 300ms;
    opacity: 0;
    cursor: pointer;
    margin-top: var(--primary-padding);
}

.guifierArrayFieldContainer:hover .guifierArrayFieldDeleteButton {
    padding-left: var(--second-padding);
    width: 34px;
    opacity: 1;
}

.guifierContainerFieldType {
    height: 66px;
}
