.guifierBooleanField {
    display: flex;
    gap: 2px;
    height: 45px;
    padding: 4px;
    border: var(--primary-border);
    border-radius: 10px;
    width: fit-content;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    font-size: medium;
}

.guifierBooleanElement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 150ms;
    cursor: pointer;
}   

.guifierBooleanTrueElementSelect {
    background-color: #BCFFC3;
    border: 2px solid #A0E4A7;
}

.guifierBooleanFalseElementSelect {
    background-color: #FFBCBC;
    border: 2px solid #E4A0A0;
}
