.guifyNumberInputContainer {
    position: relative;
    flex: 1;
}

.guifyNumberField {
    padding: 7.5px 15px;
    padding-right: 85px;
    border-radius: 10px;
    border: var(--primary-border);
    outline: 3px solid transparent;
    transition: 150ms;
    width: 100%;
    height: 45px;
    font-size: medium;
}

.guifyNumberField:focus {
    border: 2px solid var(--primary-color);
    outline: 3px solid var(--primary-lighter-color);
}

/* this like removes the arrows in the number type input */
.guifyNumberField::-webkit-inner-spin-button,
.guifyNumberField::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.guifyNumberField {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
}

.guifyButtonsContainer {
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    right: 0;
    padding: 6px;
    gap: 6px;
}

.guifyNumberButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    border: var(--primary-border);
    border-radius: 10px;
    color: #888E9D;
    cursor: pointer;
}