.guifierNumberInputContainer {
    display: flex;
    gap: 6px;
    position: relative;
    flex: 1;
}

.guifierNumberField {
    padding: 7.5px 15px;
    border-radius: var(--primary-border-radius);
    border: var(--primary-border);
    outline: 3px solid transparent;
    transition: 150ms;
    width: 100%;
    height: 45px;
    font-size: medium;
}

.guifierNumberField:focus {
    border: 2px solid var(--primary-color);
    outline: 3px solid var(--second-color);
}

/* this like removes the arrows in the number type input */
.guifierNumberField::-webkit-inner-spin-button,
.guifierNumberField::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.guifierNumberField {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
}

.guifierButtonsContainer {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

.guifierNumberButton {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 30px;
    color: #888E9D;
    cursor: pointer;
    border: var(--primary-border);
}

.guifierNumberButton:first-child {
    border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
}

.guifierNumberButton:last-child {
    border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
    border-bottom: none;
}

.guifierNumberButton span {
    font-size: small;
}